@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

@layer base {
  .bodyP {
    @apply flex items-center justify-center w-screen h-screen bg-gray-100;
    height: 40vh;
  }
}

@layer components {
  .brands-wrapper {
    @apply flex animate-infinite-scroll items-center justify-center md:justify-start [&_img]:max-w-none [&_li]:mx-4;
  }
}

.brands-wrapper li{
padding-left: 60px;
}

.mainvid {
  position: ; 
    right: 0; 
    bottom: 0;
    width: 100%; 
    height: 80%;
    /* width: auto; 
    height: auto;  */
    z-index: -100;
    background-size: cover;
    overflow: hidden;
}

/* ################### Resume section ################################ */

.resumecard {
  position: relative;
  width: 320px;
  height: 450px;
  background: #354deb;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  border-radius: 5px;
  z-index: 1; /* Ensure the card container has a higher z-index */
}

.resumecard iframe {
  position: absolute;
  width: 100%;
  height: 100%;
  border: none;
  z-index: 2; /* Ensure the iframe has an even higher z-index */
}

.resumecard h2 {
  z-index: 3; /* Ensure the content inside the card has an even higher z-index */
  color: white;
  font-size: 2em;
}

.resumecard::before {
  content: '';
  position: absolute;
  width: 100px;
  background-image: linear-gradient(180deg, rgb(0, 183, 255), rgb(255, 255, 255));
  height: 130%;
  animation: rotBGimg 40s linear infinite;
  transition: all 0.2s linear;
  z-index: -1; /* Ensure the background has a lower z-index */
}

@keyframes rotBGimg {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.resumecard::after {
  content: '';
  position: absolute;
  background: white;
  inset: 5px;
  border-radius: 20px;
  z-index: -1; /* Ensure the border has a lower z-index */
}
